<div class="change--station--modal">
  <img src="assets/kangan-logo.png" alt="">
  <p *ngIf="selected$ | async as campus" class="selected">Current Selected Station: {{campus.campusName}}</p>
  <div class="" >
    <select class="select" [(ngModel)]="selectedValue">
      <option value="{{item.campusId}}" *ngFor="let item of campusList$| async;">{{item.campusName}}</option>
    </select>
    <div class="button--wrapper">
      <button class="save--button" (click)="clickHandler()">Save Selection</button>
      <button class="logout" (click)="signOut()">sign out</button>
    </div>
  </div>
  <div *ngIf="isLoading" class="loadingBox">
    <app-loading></app-loading>

  </div>
  <div class="successBox" *ngIf="success">
    <app-change-station-success>

    </app-change-station-success>
  </div>
</div>
