.error--popup
{
  background-color: #ff000070;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  color: #fefefe;
  border: 2px solid #ff000090;
  border-radius: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;

}
