
.background--image--wrapper
{
  height:100vh;
  width: 100%;
  .image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .router-outlet
  {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .errorBox
    {
      position: absolute;
      top:0;
      left: 0;
      bottom: -99rem;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      z-index: 99;
    }
}
